.music {
    position: relative;
    width: 80%;
    min-height: 200px;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    overflow: hidden;
}